.left-column {
	width: 475px;
}

.tekst {
	
}

.right-column {
	width: 200px;
	margin-top: 0px;
	display: inline-block;
	line-height: 1.2em;
}

.teller {
	display: inline-block;
	font-weight: bold;
	font-decoration: underline;
}

.highlight {
	border: solid 1px darkblue;
	margin: 20px;
	padding: 10px;
	width: 100px;
	text-align: center;
}

.form {
	width: 600px;
	font-size: 12px;
	padding-top: 12px;
	display: inline-block;
}

.submit-button {
	width: 60px;
	margin-left: 10px;
	vertical-align: top;
	text-align: center;
	padding: 5px;
	border: solid 1px lightgray;
	cursor: pointer;
	display: inline-block;
	line-height: 16px;
}

.detail {
	border-left: solid 1px lightgray;
	margin-top: 10px;
	margin-left: 20px;
	padding-left: 20px;
	font-size: 14px;
	font-style: italic;
}

.detail-date {
	font-size: 12px;
	color: gray;
	font-style: italic;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	margin: 0px;
}

#content {
	padding: 25px;
	line-height: 1.5em;
}

.message {
	width: 280px;
	font-size: 15px;
	height: 22px;
}

#form {
	
}

#submit {
	margin-top: 10px;
	border: solid 1px lightblue;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	width: 100px;
	background: lightyellow;
	line-height: 26px;
}

#response {
	color: gray;
	margin-top: 20px;
	display: none;
}

#header {
	font-family: 'Architects Daughter';
	font-size: 24px;
	background: black;
	color: white;
	line-height: 44px;
	text-align: center;
	vertical-align: middle;
}

#footer {
	font-size: 16px;
	background: #FADB4E;
	line-height: 44px;
	text-align: center;
	vertical-align: middle;
}

#footer a {
	font-size: 16px;
	color: #2B7BBC;
}

<!--
the framework -->.absolute-layout {
	position: relative;
	left: 0px;
}

.absolute-layout-element {
	
}

.vertical-layout {
	
}

.vertical-layout-element {
	display: block;
}

.flow-layout {
	
}

.flow-layout-element {
	display: inline-block;
}

.horizontal-layout {
	white-space: nowrap;
}

.horizontal-layout-element {
	display: inline-block;
	vertical-align: top;
}

.link:hover {
	cursor: pointer;
}