.absolute-layout {
	position: relative;
	left: 0px;
}

.absolute-layout-element {
	
}

.vertical-layout {
	
}

.vertical-layout-element {
	display: block;
}

.flow-layout {
	
}

.flow-layout-element {
	display: inline-block;
}

.horizontal-layout {
	white-space: nowrap;
}

.horizontal-layout-element {
	display: inline-block;
	vertical-align: top;
}

img {
	display: block;
	vertical-align: bottom;
}

.link:hover {
	cursor: pointer;
}

/* Theme CSS */

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.whizu-dialog {
	border: solid 1px lightblue;
	background: white;
	color:blue;
	border-radius:4px;
	width:200px;
	height:150px;
	padding:10px;
}

